* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  header {
    background: #000;
    height: 80px;
    padding: 15px;
  }
  
  nav ul {
    display: none;
  }
  
  .tablet-menu svg {
    fill: #37c5da;
  }
  
  @media (min-width: 600px) {
    header {
      padding: 15px 0;
    }
    nav ul {
      display: flex;
      gap: 40px;
    }
  
    nav a {
      color: #fff;
    }
  
    nav a:hover {
      color: #0808c3;
    }
    tablet-menu {
      display: none;
    }
    .tablet-menu svg {
      display: none;
    }
  }
  
  .header-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .banner-container {
    min-height: 300px;
    background-color: #d7f7fa;
    padding: 50px 15px;
  }
  
  @media (min-width: 600px) {
    article {
      max-width: 768px;
      margin: 0 auto;
      padding: 50px 0;
      display: flex;
      justify-content: space-between;
    }
    .banner-container {
      padding: 0;
    }
  }
  
  .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #0808c3;
    max-width: 544px;
    min-height: 220px;
    margin-bottom: 55px;
  }
  
  @media (min-width: 600px) {
    .banner-text {
      min-height: auto;
      margin-bottom: 0;
      align-items: baseline;
    }
  }
  
  .banner-text h4 {
    font-size: 10px;
    text-align: center;
  }
  @media (min-width: 600px) {
    .banner-text h4 {
      text-align: left;
    }
  }
  
  .banner-text h2 {
    font-size: 35px;
  }
  
  .banner-text p {
    font-size: 11px;
  }
  
  .banner-text button {
    padding: 10px 20px;
    background-color: #0808c3;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 10px;
  }
  
  .banner-img {
    text-align: center;
  }
  
